In [1]:
# csv is comma seperated file

In [2]:
b = open('data.csv', 'x')
b.close()

In [3]:
import pandas as pd
df = pd.read_csv('data.csv',nrows = 4)
df

   Sn    Name  Age    Address          Phone
0   1     Ram   78  Kathmandu  9837373737373
1   2   Shyam   45     Gorkha   939937388383
2   3    Hari   54   Bhaktpur    98847474747
3   4  Nabina   34  Bharatpur     9837377373

In [2]:
type(df)

pandas.core.frame.DataFrame

In [10]:
import pandas as pd
df = pd.read_csv('data.csv',index_col ='Sn')
df.head(6)    #df.head only print 5 data 
#df.tail(3)      #df.tail print 3 data from ending

      Name  Age    Address          Phone
Sn
1      Ram   78  Kathmandu  9837373737373
2    Shyam   45     Gorkha   939937388383
3     Hari   54   Bhaktpur    98847474747
4   Nabina   34  Bharatpur     9837377373
5    Anish   56    Tanahun     9837373737
6     Anil   55    Lamjung   938383837373

In [13]:
import pandas as pd
cols = ['Sn','Name','Age']
df = pd.read_csv('data.csv',index_col ='Sn', usecols = cols)
df

ValueError: Usecols do not match columns, columns expected but not found: ['Name']

In [14]:
import pandas as pd
df = pd.read_csv('data.csv',index_col ='Sn')
df.iloc[0:6,0:3]

      Name  Age    Address
Sn
1      Ram   78  Kathmandu
2    Shyam   45     Gorkha
3     Hari   54   Bhaktpur
4   Nabina   34  Bharatpur
5    Anish   56    Tanahun
6     Anil   55    Lamjung

In [18]:
import pandas as pd
df = pd.read_csv('data.csv',index_col ='Sn')
df

      Name  Age    Address          Phone
Sn
1      Ram   78  Kathmandu  9837373737373
2    Shyam   45     Gorkha   939937388383
3     Hari   54   Bhaktpur    98847474747
4   Nabina   34  Bharatpur     9837377373
5    Anish   56    Tanahun     9837373737
6     Anil   55    Lamjung   938383837373

In [20]:
import pandas as pd
df = pd.read_csv('data.csv',index_col ='Sn')
df.loc[2:5]

      Name  Age    Address         Phone
Sn
2    Shyam   45     Gorkha  939937388383
3     Hari   54   Bhaktpur   98847474747
4   Nabina   34  Bharatpur    9837377373
5    Anish   56    Tanahun    9837373737

In [4]:
import pandas as pd
df = pd.read_csv('data.csv',index_col ='Sn')
df[df["Age"]>50]

     Name  Age    Address          Phone
Sn
1     Ram   78  Kathmandu  9837373737373
3    Hari   54   Bhaktpur    98847474747
5   Anish   56    Tanahun     9837373737
6    Anil   55    Lamjung   938383837373

In [5]:
import pandas as pd
df = pd.read_csv('data.csv',index_col ='Sn')
df[df["Address"] == "Kathmandu"]

    Name  Age    Address          Phone
Sn
1    Ram   78  Kathmandu  9837373737373

In [6]:
import pandas as pd
df = pd.read_csv('data.csv',index_col ='Sn')
df[(df["Address"] == "Kathmandu") & (df["Age"]>50)]

    Name  Age    Address          Phone
Sn
1    Ram   78  Kathmandu  9837373737373

In [7]:
import pandas as pd
df = pd.read_csv('data.csv',index_col ='Sn')
x = df[(df["Address"] == "Kathmandu") & (df["Age"]>50)]
x.to_csv("data1.csv")

In [8]:
import csv
fields = [7,"Hari", 45,"Patan", 98373774747]
f =  open('books.csv', 'a')
x = csv.writer(f)
x.writerow(fields)
f.close()

In [9]:
import csv
fields = [7,"Hari", 45,"Patan", 98373774747]
with open('books.csv', 'a') as f:
        x = csv.writer(f)
        x.writerow(fields)

In [10]:
import csv
fields = [7,"Hari", 45,"Patan", 98373774747]
f = open('data.csv', 'a')
x = csv.writer(f)
x.writerow(fields)
f.close()

In [11]:
import csv
fields = [7,"Hari", 45,"Patan", 98373774747]
with open('data.csv', 'a') as f:
        x = csv.writer(f)
        x.writerow(fields)

In [13]:
fields = [["Ram", 9837373737],["Shyam",98373737373]]
import csv
with open('data.csv', 'a') as f:
        x = csv.writer(f)
        for i in fields:
            x.writerow(i)

In [14]:
import csv
with open("data.csv") as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print(row)

{'Sn': '1', 'Name': 'Ram', 'Age': '78', 'Address': 'Kathmandu', 'Phone': '9837373737373'}
{'Sn': '2', 'Name': 'Shyam', 'Age': '45', 'Address': 'Gorkha', 'Phone': '939937388383'}
{'Sn': '3', 'Name': 'Hari', 'Age': '54', 'Address': 'Bhaktpur', 'Phone': '98847474747'}
{'Sn': '4', 'Name': 'Nabina', 'Age': '34', 'Address': 'Bharatpur', 'Phone': '9837377373'}
{'Sn': '5', 'Name': 'Anish', 'Age': '56', 'Address': 'Tanahun', 'Phone': '9837373737'}
{'Sn': '6', 'Name': 'Anil', 'Age': '55', 'Address': 'Lamjung', 'Phone': '9383838373737', None: ['Hari', '45', 'Patan', '98373774747']}
{'Sn': '7', 'Name': 'Hari', 'Age': '45', 'Address': 'Patan', 'Phone': '98373774747'}
{'Sn': 'Ram', 'Name': '9837373737', 'Age': None, 'Address': None, 'Phone': None}
{'Sn': 'Shyam', 'Name': '98373737373', 'Age': None, 'Address': None, 'Phone': None}

In [15]:
import pandas as pd
data = {'Name':["Ram", "Shyam", "Hari", "Bikash", "Anil"],
       "Address":["Kathmandu", "Palpa", "Pyuthan", "Bhaktapur", "Patan"],
       "Age":[23,45,25,34,32,27]}

df = pd.DataFrame(data)
df.to_csv('books.csv')
df.head()

ValueError: arrays must all be same length

In [19]:
import csv
csv_columns = ['Name', 'Age', 'Address']
dict = [
    {'Name':'Sunil', 'Age':23,'Address':'Kathmandu'},
    {'Name':'Anil', 'Age':34, 'Address':'Patan'}
]
try:
    with open("data.csv", 'w') as csvfile:
        writer = csv.Dictwriter(csvfile, fieldnames = csv_columns)
        writer.writeheader()
        for data in dict:
            writer.writerow(data)
except IOError:
            print("I/O error")

AttributeError: module 'csv' has no attribute 'Dictwriter'