In [1]:
# a = {}
# a = {<key>:<value>,<key>:<value>,<key>:<value>}

In [2]:
a = {}
type(a)

dict

In [3]:
a = {"a":"Apple","b":"Ball"}
print(a)
a["a"]

{'a': 'Apple', 'b': 'Ball'}

'Apple'

In [4]:
# -Mutable datatype
# -it may have multiple values
# -no duplicate index
# -Ordered

In [5]:
a["a"]="Ant"
a

{'a': 'Ant', 'b': 'Ball'}

In [6]:
a = {}
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [7]:
a["a"] = "Ant"
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [8]:
for i in a:
    print(i)

a
b
c

In [9]:
for i in a.values():
    print(i)

Ant
Ball
Cat

In [10]:
for i in a.items():
    print(i)

('a', 'Ant')
('b', 'Ball')
('c', 'Cat')

In [11]:
key_value = []
for i in a.items():
    key_value.append(i)
key_value

[('a', 'Ant'), ('b', 'Ball'), ('c', 'Cat')]

In [12]:
new_data = []
for i in key_value:
    j = list(i)
    new_data.append(j)
new_data

[['a', 'Ant'], ['b', 'Ball'], ['c', 'Cat']]

In [13]:
new_data[0][0] = "A"
new_data

[['A', 'Ant'], ['b', 'Ball'], ['c', 'Cat']]

In [14]:
d = {}
for k in new_data:
    key = k[0]
    value = k[1]
    d[key] = value
print(d)

{'A': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [16]:
d = {}
n = int(input("Enter no of people = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
print("The info is = \n",d)

Enter no of people = 2
Enter name = Ram
Enter phone = 98373773
Enter name = Shyam
Enter phone = 9836366373
The info is =
 {'Ram': 98373773, 'Shyam': 9836366373}

In [17]:
d["Shyam"]

9836366373

In [19]:
a = {"a":"Apple"}
b = {"b":"Ball"}
a.update(b)

In [20]:
a

{'a': 'Apple', 'b': 'Ball'}

In [21]:
d = {'a': 'Apple', 'b': 'Ball'}
del d["a"]
b

{'b': 'Ball'}

In [22]:
d = {'a': 'Apple', 'b': 'Ball'}
d.pop("a")
print(d)

{'b': 'Ball'}

In [23]:
d = {'a': 'Apple', 'b': 'Ball'}
d.clear()
d

{}

In [24]:
a = {"a":["Apple","Ant"],"b":["Ball","Bat"]}
print(a)
print(a["a"])
print(a["a"][0])

{'a': ['Apple', 'Ant'], 'b': ['Ball', 'Bat']}
['Apple', 'Ant']
Apple

In [25]:
d = {}
n = int(input("Enter no of people = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))
    d[name] = [ntc_phone,ncell_phone]
print("The info is = \n",d)

Enter no of people = 2
Enter name = Ram
Enter ntc phone = 98377373773
Enter ncell phone = 9803773737
Enter name = Shyam
Enter ntc phone = 983663663
Enter ncell phone = 9803737373
The info is =
 {'Ram': [98377373773, 9803773737], 'Shyam': [983663663, 9803737373]}

In [26]:
d["Ram"]

[98377373773, 9803773737]

In [27]:
d =  {'Ram': [535345345, 35353543535], 
      'Shyam': [35435345, 56465654]}
d["Ram"].append("9856554543")
d

{'Ram': [535345345, 35353543535, '9856554543'], 'Shyam': [35435345, 56465654]}

In [28]:
d["Ram"][2] =9823223221
d

{'Ram': [535345345, 35353543535, 9823223221], 'Shyam': [35435345, 56465654]}

In [29]:
del d["Ram"][2]
d

{'Ram': [535345345, 35353543535], 'Shyam': [35435345, 56465654]}

In [30]:
 d = {}
n = int(input("Enter no of people = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    d[name] = [price,quantity,total]
print("The info is = \n",d)

Enter no of people = 2
Enter name = Ram
Enter price = 1000
Enter quantity = 5
Enter name = apple
Enter price = 2000
Enter quantity = 4
The info is =
 {'Ram': [1000, 5, 5000], 'apple': [2000, 4, 8000]}

In [31]:
a = [{"Name":"Ram","Phone":9867665654},
     {"Name":"Shyam","Phone":98678678},
     {"Name":"hari","Phone":9867665654}]

In [32]:
for i in a:
    print(i)

{'Name': 'Ram', 'Phone': 9867665654}
{'Name': 'Shyam', 'Phone': 98678678}
{'Name': 'hari', 'Phone': 9867665654}

In [33]:
d = []
s = 0
n = int(input("Enter no of people = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s+total
    data = {"Name":name,"Price":price,
            "Quantity":quantity,"Total":total}
    d.append(data)
print("The info is = \n",d)
print("The total is = ",s)

Enter no of people = 2
Enter name = Apple
Enter price = 500
Enter quantity = 5
Enter name = orange
Enter price = 1000
Enter quantity = 5
The info is =
 [{'Name': 'Apple', 'Price': 500, 'Quantity': 5, 'Total': 2500}, {'Name': 'orange', 'Price': 1000, 'Quantity': 5, 'Total': 5000}]
The total is =  7500

In [34]:
d[0]["Price"] = 200
q = d[0]["Quantity"]
total = d[0]["Price"]*q
total

1000

In [35]:
d[0]["Total"] = total
d

[{'Name': 'Apple', 'Price': 200, 'Quantity': 5, 'Total': 1000},
 {'Name': 'orange', 'Price': 1000, 'Quantity': 5, 'Total': 5000}]

In [4]:
d = [{'Name': 'Apple', 'Price': 200, 'Quantity': 5, 'Total': 1000},
     {'Name': 'Apple', 'Price': 200, 'Quantity': 5, 'Total': 1000}]
     
q = int(input("Enter new quantity = "))
p = int(input("Enter new price = "))
i = int(input("Enter index = "))
d[i]["Quantity"] = q 
d[i]["Price"] = p 
total = p*q
d[i]["total"] = total 
print(d)
print(total)

Enter new quantity = 5
Enter new price = 1000
Enter index = 0
[{'Name': 'Apple', 'Price': 1000, 'Quantity': 5, 'Total': 1000, 'total': 5000}, {'Name': 'Apple', 'Price': 200, 'Quantity': 5, 'Total': 1000}]
5000

In [7]:
s = 0 
for i in d:
    x = i["Total"]
    s = s+x
print("The all total = ", s)

The all total =  2000

In [8]:
# WAP for result management system (update the marks is required)

In [16]:
result = []
n = int(input("Enter number of students = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks = "))
    chemistry = int(input("Enter chemistry marks = "))
    math = int(input("Enter math marks = "))
    english = int(input("Enter english marks = "))
    nepali = int(input("Enter nepali marks = "))
    total = sum([physics,chemistry,math,english,nepali])   
    per = total/5
    data = {"name":name ,"physics":physics,"chemistry":chemistry,"math":math,"nepali":nepali, "total":total}
    result.append(data)
print("The result is ", result)
print("The total  is ", total)
print("The percentage is ", per)

Enter number of students = 2
Enter name = ram
Enter physics marks = 88
Enter chemistry marks = 45
Enter math marks = 65
Enter english marks = 45
Enter nepali marks = 65
Enter name = Shyam
Enter physics marks = 45
Enter chemistry marks = 54
Enter math marks = 45
Enter english marks = 65
Enter nepali marks = 756
The result is  [{'name': 'ram', 'physics': 88, 'chemistry': 45, 'math': 65, 'nepali': 65, 'total': 308}, {'name': 'Shyam', 'physics': 45, 'chemistry': 54, 'math': 45, 'nepali': 756, 'total': 965}]
The total  is  965
The percentage is  193.0
Enter subject = physics
Enter new marks = 40
Enter index = 1
[{'name': 'ram', 'physics': 88, 'chemistry': 45, 'math': 65, 'nepali': 65, 'total': 308}, {'name': 'Shyam', 'physics': 45, 'chemistry': 54, 'math': 45, 'nepali': 756, 'total': 965}]

In [ ]:
subject = input("Enter subject = ")
value = int(input("Enter new marks = "))
i = int(input("Enter index = "))
d[i][subject] = value
print(result)

In [22]:
# dictionary inside dictionary 
a = {"Ram":{"physics" 88, "chemistry": 45, "math": 65, "nepali": 65},
      "Shyam":{"physics": 45, "chemistry": 54, 'math': 45, "nepali": 56}}
print(a["Ram"])
print(a["Shyam"])

SyntaxError: invalid syntax (<ipython-input-22-3bec4affe8f1>, line 2)

In [24]:
a = {"A":"Apple"}
b = {"A":["Apple", "Ant"]}
c = {("A", "a"):"Apple"}     #tuple is imutable datatype
  
print(a)
print(b)
print(c)

{'A': 'Apple'}
{'A': ['Apple', 'Ant']}
{('A', 'a'): 'Apple'}

In [1]:
d = {}
s = 0
n = int(input("Enter no of people = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s+total
    d[name] = {"Price":price,
            "Quantity":quantity,"Total":total}
 
print("The info is = \n",d)
print("The total is = ",s)

Enter no of people = 2
Enter name = Mobile
Enter price = 10000
Enter quantity = 2
Enter name = Tv
Enter price = 15000
Enter quantity = 5
The info is =
 {'Mobile': {'Price': 10000, 'Quantity': 2, 'Total': 20000}, 'Tv': {'Price': 15000, 'Quantity': 5, 'Total': 75000}}
The total is =  95000