In [1]:
# List
# - Mutable   ,changable
# - Ordered 
# - It follows indexing
# - Allow duplicated members

In [3]:
a = ["Apple","Ball"]
b = [1,2,3,4,5]
print(a)
print(type(b))

['Apple', 'Ball']
<class 'list'>

In [4]:
a = ["Apple","Ball"]
print(a[0])

Apple

In [5]:
print(a[-1])    #from beginning 0,1,2,...  from ending -1,-2,-3,.....

Ball

In [6]:
a = ["Apple","Ball","cat","Dog","Fish"]   #indexing
print(a[0:3])

['Apple', 'Ball', 'cat']

In [7]:
a = ["Apple","Ball","cat","Dog","Fish"]
print(a[0:5:3])

['Apple', 'Dog']

In [8]:
#order 

a = ["Apple"]
b = ["Ball"]
print(a+b)

['Apple', 'Ball']

In [9]:
a = ["Apple","Ball","cat"]
print(a*2)

['Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat']

In [10]:
for i in range(5):
    print(i,)

0
1
2
3
4

In [11]:
a = "apple"
b = [a]
print(b)

['apple']

In [12]:
a = []
b = "Ram"
print(a+[b])

['Ram']

In [13]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+[name]
print

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram ', 'Shyam']

 
a = []
n = int(input("Enter n = "))
for i in range (n):
    x = int(input("Enter x = "))
    a = a+[x]
    
print("The list is =", a)
print("the max value is = ", max(a))
print("the min value is = ", min(a))
print("The sum is = ", sum(a))
print("the average = " , sum(a)/n)

In [2]:
a = [] 
n = int(input("Enter n = "))
for i in range (n):
    x = int(input("Enter x = "))
    a = a+[x]

print("The list is =", a)
print("the max value is = ", max(a))
print("the min value is = ", min(a)) 
print("The sum is = ", sum(a)) 
print("the average = ", sum(a)/n)

Enter n = 5
Enter x = 10
Enter x = 20
Enter x = 30
Enter x = 40
Enter x = 50
The list is = [10, 20, 30, 40, 50]
the max value is =  50
the min value is =  10
The sum is =  150
the average =  30.0

In [3]:
a

[10, 20, 30, 40, 50]

In [3]:
a = ["zebra", "xray", "1ball", "@fish"]
a.sort()

In [5]:
a

['1ball', '@fish', 'xray', 'zebra']

In [13]:
a = ["Zebra", "xray", "ball", "fish"]
a.sort()
print(a)

['Zebra', 'ball', 'fish', 'xray']

In [7]:
a = [10, 20, 30, 40, 50]
a.sort()
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [10]:
a = ["Zebra", "xray", "ball", "fish"]
for i in a:
    print(i)

zebra
xray
ball
fish

In [11]:
len(a)

4

In [17]:
a = ["Zebra", "xray", "ball", "fish"]
n = len(a)
for i in range(n):
    print(a[i])

Zebra
xray
ball
fish

In [20]:
a = ["Zebra", "xray", "ball", "fish"]
for i in a:
    if i == "ball":
        break
    print(i)

Zebra
xray

In [21]:
a = ["Zebra", "xray", "ball", "fish"]
for i in a:
    if i == "ball":
        continue
    print(i)

Zebra
xray
fish

In [22]:
a = ["Zebra", "xray", "ball", "fish", "ball"]
if "ball"in a:
    print("Yes", a.count("ball"))

Yes 2

In [5]:
a = list()
a.append("Apple")      #add variable in blank 
print(a)

['Apple']

In [28]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a.append(name)
print(a)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram ', 'Shyam']

In [29]:
a = ["Zebra", "xray", "ball", "fish"] #insert add value in middle part 
a.insert(2,"Bag")
print(a)

['Zebra', 'xray', 'Bag', 'ball', 'fish']

In [30]:
a = ["Zebra", "xray", "ball", "fish"]  # edit the value from list 
a[1] = 'Xrey' 
print(a)

['Zebra', 'Xrey', 'ball', 'fish']

In [31]:
a = ["Zebra", "xray", "ball", "fish"]  #delete value from the list 
del a[0]
print(a)

['xray', 'ball', 'fish']

In [33]:
a = ["Zebra", "xray", "ball", "fish"]  #delete value from the list 
del a[0:3]
print(a)

['fish']

In [34]:
a = ["Zebra", "xray", "ball", "fish"]  #delete value from the list 
del a[0:4:2]
print(a)

['xray', 'fish']

In [36]:
a = ["Zebra", "xray", "ball", "fish"] #find index
a.index("ball")

2

In [37]:
a = ["Zebra", "xray", "ball", "fish"] #another type of delete
a.remove("ball")
print(a)

['Zebra', 'xray', 'fish']

In [41]:
a = ["Zebra", "xray", "ball", "fish"] #delete and show the delete value 
b = a.pop(1)
print(b)

xray

In [42]:
a = ["Zebra", "xray", "ball", "fish"] #delete and show the delete value 
b = a.pop(1)
print(b)
print(a)

xray
['Zebra', 'ball', 'fish']

In [44]:
a = ["Zebra", "xray", "ball", "fish", "ball"]   #delete all value 
n = a.count("ball")
for i in range(n):
     a.remove("ball")
print(a)

['Zebra', 'xray', 'fish']

In [45]:
a = ["Zebra", "xray", "ball", "fish", "ball","ball"]   #1 value there other delete
n = a.count("ball")
for i in range(n-1):
     a.remove("ball")
print(a)

['Zebra', 'xray', 'fish', 'ball']

In [46]:
a = ["Zebra", "xray", "ball", "fish", "ball","ball"] 
for i in a:
     if i == "ball":
        n = a.index("ball")
        print(n)

2
2
2

In [52]:
a = ["ball","Zebra", "xray", "ball", "fish", "ball"] 
for i in range(len(a)):
    if a[i] == "ball":
       
       print(i)

0
3
5

In [54]:
index = []
a = ["ball","Zebra", "xray", "ball", "fish", "ball"] 
for i in range(len(a)):
    if a[i] == "ball":
       
        print(i)
        index.append(i)
    
print(index)

0
3
5
[0, 3, 5]

In [1]:
# list inside list 
a = [[],[],[],[]]
print(a)
print(len(a))

[[], [], [], []]
4

In [3]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [4]:
a = [[1,2,3]]
b = [[4,5,6]]
c = print(a+b)

[[1, 2, 3], [4, 5, 6]]

In [5]:
a = [1,2,3]
b = [4,5,6]
c = print(a+b)

[1, 2, 3, 4, 5, 6]

In [6]:
a = [[1,2,3]]
b = [[4,5,6]]
c = (a+b)
print(len(c))

2

In [7]:
a = [[1,2,3]]
b = [[4,5,6]]
print(a+b)

[[1, 2, 3], [4, 5, 6]]

In [10]:
my_list = []
i = int(input("Enter i= "))
j = int(input("Enter j = "))
for a in range(i):
    my_list1 = []
    for b in range(j):
        x  = int(input("Enter x = "))
        my_list.append(x)
        
    my_list.append(my_list)
    
print(my_list)

Enter i= 2
Enter j = 2
Enter x = 34
Enter x = 56
Enter x = 56
Enter x = 54
[34, 56, [...], 56, 54, [...]]

In [2]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = f"{name}---{phone}\n"
    s = s+info
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 938838833
Enter name = shyam
Enter phone = 838388383838
Ram---938838833
shyam---838388383838

In [2]:
s.split('\n')

['Ram---9874747', 'Shyam---874748484', '']

In [4]:
x = s.split('\n')[0:-1]
x

['Ram---9874747', 'Shyam---874748484']

In [6]:
data = []
for i in range(2):
    y = x[i].split('---')
    data.append(y)
data

[['Ram', '9874747'], ['Shyam', '874748484']]

In [1]:
data = []    # always remember create empty list in list inside list 
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = [name,phone]
    data.append(info)
print(data)

Enter n = 2
Enter name = Ram
Enter phone = 9847474
Enter name = Shyam
Enter phone = 98373773
[['Ram', 9847474], ['Shyam', 98373773]]

In [7]:
data = []    # always remember create empty list in list inside list 
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = [[name,phone]]
    data = data+info
    print(data)

Enter n = 2
Enter name = Ram
Enter phone = 9837377373
[['Ram', 9837377373]]
Enter name = Shyam
Enter phone = 9837377373733
[['Ram', 9837377373], ['Shyam', 9837377373733]]

In [10]:
a = [['Ram', 987474747], ['shyam', 9837474747]]
a[0]

['Ram', 987474747]

In [13]:
a = [['Ram', 987474747], ['shyam', 9837474747]]
a[0][1]

987474747

In [14]:
a = [['Ram', 987474747], ['shyam', 9837474747]]
a[1][0]

'shyam'

In [15]:
for i in a:
    print(i)

['Ram', 987474747]
['shyam', 9837474747]

In [16]:
a = [['Ram', 987474747], ['shyam', 983747474],['Ram', 987474747], ['shyam', 983747474]]
a[0:2]

[['Ram', 987474747], ['shyam', 983747474]]

In [3]:
a = [['Ram', 987474747], ['shyam', 983747474]]
a[0][0] = "Ram prasad"
print(a)

[['Ram prasad', 987474747], ['shyam', 983747474]]

In [4]:
a = [['Ram', 987474747], ['shyam', 983747474]]
del a[0][0]
print(a)

[[987474747], ['shyam', 983747474]]

In [2]:
a = [['Ram', 987474747],['shyam', 983747474]]
a.remove(a[0])
print(a)

[['shyam', 983747474]]

In [6]:
result = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks = "))
    chemistry = int(input("Enter chemistry marks = "))
    math = int(input("Enter math marks = "))
    english = int(input("Enter english marks = "))
    nepali = int(input("Enter nepali marks = "))
    total = sum([physics,chemistry,math,english,nepali])   
    per = total/5
    data = [i,name,physics,chemistry,math,english,nepali,total,per]
    result.append(data)
result

Enter n = 2
Enter name = Ram
Enter physics marks = 60
Enter chemistry marks = 67
Enter math marks = 85
Enter english marks = 57
Enter nepali marks = 47
Enter name = Shyam
Enter physics marks = 86
Enter chemistry marks = 58
Enter math marks = 68
Enter english marks = 67
Enter nepali marks = 67

[[1, 'Ram', 60, 67, 85, 57, 47, 316, 63.2],
 [2, 'Shyam', 86, 58, 68, 67, 67, 346, 69.2]]

In [9]:
roll = int(input("Enter roll = "))
result[roll-1]

Enter roll = 1

[1, 'Ram', 60, 67, 85, 57, 47, 316, 63.2]

In [12]:
result[0][2] = 65
s = result[0][2:7]
net_sum = sum(s)
result[0][7] = net_sum
result[0][-1] = net_sum/5
print(result)

[[1, 'Ram', 65, 67, 85, 57, 47, 321, 64.2], [2, 'Shyam', 86, 58, 68, 67, 67, 346, 69.2]]

In [3]:
#  WAP for billing system 

bill = []
n = int(input("Enter n = "))
for i in range(n+1):
    name = input("Enter name = ")
    item = input("Enter  item = ")
    price = int(input("Enter price = "))
    data = [i,name, item,price]
    bill.append(data)
print(bill)

Enter n = 2
Enter name = Ram
Enter  item = mobile
Enter price = 10000
Enter name = shyam
Enter  item = watch
Enter price = 3000
Enter name = Hari
Enter  item = TV
Enter price = 15000
[[0, 'Ram', 'mobile', 10000], [1, 'shyam', 'watch', 3000], [2, 'Hari ', 'TV', 15000]]

In [ ]:
bill = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter the customer name = ")
    product = input("Enter product name = ")
    quantity = int(input("Enter quantity  = "))
    price = int(input("Enter price of product  = "))
    if price > 100:
        s = price-(price*0.1)
        total_price = quantity*s
    else:
        total_price =quantity*price
    display = [i,name,product,quantity,price,total_price]
    bill.append(display)
print(bill)

Enter n = 2
Enter the customer name = Ram
Enter product name = Mobile