In [1]:
# Loop 
# while 
# for

In [2]:
#  range(5)
# range(1,5)
# range(1,5,2)

In [ ]:
# for(i = 0; i<5;i++){
    
# }

In [5]:
# for(i = 0; i<5;i++){
    
# }   for c program

for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in range(5):
    print(i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [8]:
# for(i = 1; i<5;i++;){
    
# }   for c program

for i in range(1,5):
    print(i ,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [9]:
# for(i = 1; i<5;i+2;){
    
# }   for c program

for i in range(1,5,2):   # 5,2 is 1+2
    print(i ,"Hello World")

1 Hello World
3 Hello World

In [11]:
# for(i = 1; i<5;i+3;){
    
# }   for c program

for i in range(5,20,5):  
    print(i ,"Hello World")

5 Hello World
10 Hello World
15 Hello World

In [1]:

n = int(input("Enter n="))
for i in range(n):
    x = int(input("Enter x = "))

Enter n=2
Enter x = 1
Enter x = 2

In [1]:
s = 0
n = int(input("Enter n="))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
print("The sum is =",s)
print("The average = ", s/n)

Enter n=5
Enter x = 10
Enter x = 20
Enter x = 30
Enter x = 40
Enter x = 50
The sum is = 150
The average =  30.0

In [1]:
s = ","         #"" intistring
n = int(input("Enter n="))
for i in range(n):
    x = (input("Enter x = "))
    s = (s+x, end 
print("The name of students are = ",s)

Enter n=2
Enter x = Ram
Enter x = shyam
The name of students are =  , Ram shyam

In [1]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s+ "  "+x
    print("The name of the students are= ", s)

Enter n = 2
Enter x = Ram
The name of the students are=    Ram
Enter x = Shyam
The name of the students are=    Ram  Shyam

In [8]:
n = int(input("Enter n= "))
for i in range(1,11):        # 1*5 ,2*5,3*5 ....so on
    print(n*i)

Enter n= 5
5
10
15
20
25
30
35
40
45
50

In [5]:
n = int(input("Enter n= "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)  #comma gives extra space

Enter n= 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [6]:
#4! = 1*2*3*4
fac = 1
n = int(input("Enter n =  "))
for i in range(1,n+1):
    fac = fac*i
    print(fac)

Enter n =  4
1
2
6
24

In [7]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    s = s+name+"----"+ str(phone)+"\n"
    print("The name of the students are = \n", s)

Enter n = 2
Enter name = Ram
Enter phone = 989993983
The name of the students are =
 Ram----989993983

Enter name = Shyam
Enter phone = 98736363773
The name of the students are =
 Ram----989993983
Shyam----98736363773

In [8]:
a = "Python"
for i in a:
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [9]:
a = "Python"
for i in a:
    print(i,end = "  ")    #end in horizental line

P  y  t  h  o  n

In [2]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [2]:
# prime and composite

num = int(input("Enter a number ="))
n = int(input("Enter n = "))
for i in range(2,num):
    if num == 0:
        print("Prime number")
    
    else num != 0:
        print("Composite number")

SyntaxError: invalid syntax (<ipython-input-2-ea2a5e0d33ee>, line 9)