In [1]:
 a = "python"
 print(type(a))

<class 'str'>

In [2]:
a = "Hello"
b = "World"
print(a+b)

HelloWorld

In [7]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [9]:
a = "Hello World"
print(a[0])

H

In [10]:
a = "Hello World"
print(a[0:5])       #0 :5 = print 0 to 5

Hello

In [11]:
a = "Hello World"
print(a[5:])      # 5: after 5 word print all

 World

In [12]:
a = "Hello World"
print(a[:5])

Hello

In [14]:
a = "Hello World"
print(a[0:11:2])  #addiing 0 +2 every time

HloWrd

In [15]:
a = "Hello World"
print(a[10:0:-1])

dlroW olle

In [16]:
a = "Hello World"
print(a[10::-1])

dlroW olleH

In [19]:
# string formating
name = input("Enter name =")
age = input("Enter age =")
add = input("Enter add =")
info = "Hello my name is "+name+ "i am from"+add+ "I am "+age
print(info)

Enter name =sunil
Enter age =20
Enter add =kathmandu
Hello my name issunil,i am fromkathmanduI am 20

In [3]:
# string formating
name = input("Enter name =")
age = int(input("Enter age ="))
add = input("Enter add =")
info = f"Hello my name is {name}. i am from {add} I am {age} years "
print(info)

Enter name =Sunil Nepali
Enter age =20
Enter add =Gorkha
Hello my name is Sunil Nepali . i am from Gorkha I am 20 years

In [7]:
search = input("Enter any data for search=")
if search in info:
    print("Yes",info.count(search))
else:
    print("No")

Enter any data for search=Sunil Nepali
Yes 1

In [8]:
a = "Python"
print(a.upper())
print(a.lower())

PYTHON
python

In [10]:
info = "Hello my name is Sunil Nepali . i am from Gorkha I am 20 years"
lower_info = info.lower()
search = input("Enter any data for search=").lower()
if search in lower_info:
    print("Yes",lower_info.count(search))
else:
    print("No")

Enter any data for search=Sunil nepali
Yes 1

In [1]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = f"{name}---{phone}\n"
    s = s+info
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 98847747874
Enter name = shyma
Enter phone = 7478494994
Ram---98847747874
shyma---7478494994

In [3]:
name = input("Enter name = ")
if name in s:
    print("Yes", s.count(name))
else:
    print("No")

Enter name = shyma
Yes 1

In [5]:
s = s.replace("Ram","Ram prasad")
print(s)

shyyam---988477474

In [2]:
s = " Ram--- 9874774747\nshyyam---988477474"
name = input("Enter name = ")
if name in s:
    print("Yes", s.count(name))
    replace_value = input("Enter replace name")
    final_data = s.replace(name,replace_value)
else:
    print("There is No such value")
print(final_data)

Enter name = Ram
Yes 1
Enter replace nameRam prasad
 Ram prasadprasad--- 9874774747
shyyam---988477474

In [1]:
# write a program for result management system 
# (name,subjects,total)


n = input("Enter n=")
for i in range (n):
    math = int(input("Enter value= "))
    account = int(input("Enter marks of account="))
    eco = int(input("Enter marks of eco= "))
    english = int(input("Enter marks of english= "))
    computer = int(input("Enter marks of computer= "))

In [2]:
s = "Ram--- 9874774747\nshyyam---988477474"
s = s.replace('Ram--- 9874774747','')
print(s)

shyyam---988477474

In [3]:
# split()
a = "Hello world"
a.split()

['Hello', 'world']

In [14]:
# split()
a = "Hello.world"
a.split('.')

['Hello', 'world']

In [16]:
s = "Ram--- 9874774747\nshyyam---988477474"
s.split('\n')

['Ram--- 9874774747', 'shyyam---988477474']

In [17]:
s = "Ram--- 9874774747\nshyyam---988477474"
x = s.split('\n')
print(x[0])

Ram--- 9874774747