In [1]:
# Loop 
# while 
# for

In [2]:
#  range(5)
# range(1,5)
# range(1,5,2)

In [ ]:
# for(i = 0; i<5;i++){
    
# }

In [5]:
# for(i = 0; i<5;i++){
    
# }   for c program

for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in range(5):
    print(i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [8]:
# for(i = 1; i<5;i++;){
    
# }   for c program

for i in range(1,5):
    print(i ,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [9]:
# for(i = 1; i<5;i+2;){
    
# }   for c program

for i in range(1,5,2):   # 5,2 is 1+2
    print(i ,"Hello World")

1 Hello World
3 Hello World

In [11]:
# for(i = 1; i<5;i+3;){
    
# }   for c program

for i in range(5,20,5):  
    print(i ,"Hello World")

5 Hello World
10 Hello World
15 Hello World

Enter n=2
Enter x = 1
Enter x = 2

In [1]:
s = 0
n = int(input("Enter n="))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
print("The sum is =",s)
print("The average = ", s/n)

Enter n=5
Enter x = 10
Enter x = 20
Enter x = 30
Enter x = 40
Enter x = 50
The sum is = 150
The average =  30.0

In [4]:
s = "  "         #"" intistring
n = int(input("Enter n="))
for i in range(n):
    x = (input("Enter x = "))
    s = s+x
print("The name of students are = ",s)

Enter n=2
Enter x = Ram
Enter x = shyam
The name of students are =    Ramshyam

In [3]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s+ ","+x
    print("The name of the students are= ", s)

Enter n = 2
Enter x = Ram
The name of the students are=  ,Ram
Enter x = Shyam
The name of the students are=  ,Ram,Shyam

In [8]:
n = int(input("Enter n= "))
for i in range(1,11):        # 1*5 ,2*5,3*5 ....so on
    print(n*i)

Enter n= 5
5
10
15
20
25
30
35
40
45
50

In [5]:
n = int(input("Enter n= "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)  #comma gives extra space

Enter n= 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [6]:
#4! = 1*2*3*4
fac = 1
n = int(input("Enter n =  "))
for i in range(1,n+1):
    fac = fac*i
    print(fac)

Enter n =  4
1
2
6
24

In [7]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    s = s+name+"----"+ str(phone)+"\n"
    print("The name of the students are = \n", s)

Enter n = 2
Enter name = Ram
Enter phone = 989993983
The name of the students are =
 Ram----989993983

Enter name = Shyam
Enter phone = 98736363773
The name of the students are =
 Ram----989993983
Shyam----98736363773

In [8]:
a = "Python"
for i in a:
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [9]:
a = "Python"
for i in a:
    print(i,end = "  ")    #end in horizental line

P  y  t  h  o  n

In [11]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [3]:
a = "python"
for i in range(5,0,-1):
    print(i, end = "  ")

5  4  3  2  1

In [5]:

for i in range(5,0,-1):
    print(i* "*")

*****
****
***
**
*

In [6]:
a = "python"
for i in range(5,-1,-1):
    print(a[i])

n
o
h
t
y
p

In [14]:
a = "python"
for i in range(5,-1,-1):
    print(a[i],end = ",")

n,o,h,t,y,p,

In [11]:
a = "python"    # start from frist 
print(a[1])

y

In [12]:
a = "python"  # start from last
print(a[-1])

n

In [5]:
num = int(input("Enter a number "))
c = 0
for i in range(1, num+1):
  rem = num%i
  if rem == 0:
    c += 1

if c == 2: 
  print("prime")
else:
  print("composite")

Enter a number 7
prime

In [6]:
# while loop 
# while <condition>:
#     <operation>
#     <increment_or_decrement>

In [2]:
a = 0
while a<5:
    print("Hello World")
    a = a+1

Hello World
Hello World
Hello World
Hello World
Hello World

In [1]:
a = 0
while a<5:
    print(a,"Hello World")
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
s = 0
i =0
n = int(input("Enter n="))
while i<n:
    x = int(input("Enter x = "))
    s = s+x
    i = i+1               #value increment if i
print("The sum is =",s)
print("The average = ", s/n)

Enter n=3
Enter x = 10
Enter x = 20
Enter x = 30
The sum is = 60
The average =  20.0

In [6]:
# s = "  "         #"" intistring

# n = int(input("Enter n="))
# while i
#     x = (input("Enter x = "))
#     s = s+x
# print("The name of students are = ",s)

In [7]:
i = 1
n = int(input("Enter n= "))
while i<=10:        # 1*5 ,2*5,3*5 ....so on
    print(n*i)
    i = i+1

Enter n= 5
5
10
15
20
25
30
35
40
45
50

In [8]:
i = 0
n = int(input("Enter n= "))
while i<=10:        # 1*5 ,2*5,3*5 ....so on
    print(n*i)
    i = i+1

Enter n= 5
0
5
10
15
20
25
30
35
40
45
50

In [9]:
i = 1
n = int(input("Enter n= "))
while i<=10:
    print(n,"*",i,"=",n*i)  #comma gives extra space
    i = i+1

Enter n= 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
i = 1
s = ""
n = int(input("Enter n = "))
while i<n:
    i = i+1
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    s = s+name+"----"+ str(phone)+"\n"
    print("The name of the students are = \n", s)

Enter n = 5
Enter name = Ram
Enter phone = 8877447748
The name of the students are =
 Ram----8877447748

Enter name = Shyam
Enter phone = 987474774
The name of the students are =
 Ram----8877447748
Shyam----987474774

Enter name = hari
Enter phone = 98487475774
The name of the students are =
 Ram----8877447748
Shyam----987474774
hari----98487475774

Enter name = gopal
Enter phone = 9884774774
The name of the students are =
 Ram----8877447748
Shyam----987474774
hari----98487475774
gopal----9884774774

In [12]:
#4! = 1*2*3*4
fac = 1
i = 1
n = int(input("Enter n =  "))
while i<=n:
    fac = fac*i
    i = i + 1
    print(fac)

Enter n =  5
1
2
6
24
120

In [1]:
# i = 1
# a = "Python"
# while i<a:
#     print("Hello world")
#     i = i+1

In [15]:
 # control statments
# break statment 
# continue statment
# pass statment

In [17]:
# break
for i in range(10):
    if i == 5:
        break 
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [18]:
a = "Hello World"
for i in a:
    if i == " ":
        break 
    else:
        print(i)

H
e
l
l
o

In [19]:
# continue
# break
for i in range(10):
    if i == 5:
        continue 
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [21]:
a = "Hello World"
for i in a:
    if i == " ":
        continue 
    else:
        print(i)

H
e
l
l
o
W
o
r
l
d

In [22]:
a = "Hello World"
for i in a:
    if i == " ":
        continue 
    else:
        print(i,end = "")

HelloWorld

In [2]:
for i in range(21):
    if i %2 == 0:
         continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [3]:
for i in range(1,21):
    if i %2 != 0:
         continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [6]:
for i in range(1,51):
    if i %5 != 0:
         continue
    print(i)

5
10
15
20
25
30
35
40
45
50